* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  color: #000;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  font-family: "Dosis", sans-serif;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ==================================== */
/* =============Side Menu============= */
.sidebar {
  position: fixed;
  display: inline-block;
  top: 0;
  left: -400px;
  height: 100vh;
  z-index: 999;
  flex: 1 1 0;
  width: 100%;
  max-width: 350px;
  transition: 0.2s linear;
  padding: 0;
  background-color: #fff;
  overflow: scroll;
}

/* scroll-bar */
/* width */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
/* scroll-bar */

.sidebar h3 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 8px;
}

.menu-block h5 {
  /* display: block; */
  padding: 15px 0 0 32px;
  color: #1a1a1a;
  width: 100%;
  font-size: 18px;
}
.menu-block hr {
  height: 0px;
  border: 0.5px solid #08829553;
}
.sidebar .menu .menu-item {
  display: block;
  padding: 10px 0 10px 2.8em;
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.2s linear;
  font-size: 15px;
  width: 100%;
  text-transform: capitalize;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}

.menu-toggle {
  margin-left: 10px;
  cursor: pointer;
}

.sidebar.is-active {
  left: 0;
}

.side-head {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 10px;
  background-color: #088395;
}
.side-head i {
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  /* background-color: rgba(255, 255, 255,0.2); */
  cursor: pointer;
}
/* ------------------------------ */

nav {
  display: flex;
  padding: 15px 3%;
  color: #fff;
  justify-content: space-between;
  background-color: #05bfdb;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

nav h2 {
  text-transform: uppercase;
  font-size: 24px;
}
.logo {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
}
nav ul li {
  font-weight: 400;
  font-size: 14px;
  /* margin-left: 18px; */
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li:hover {
  background-color: #ffffff1a;
  transition: 0.2s;
}

/* ==========HERO========== */
.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
h1 {
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  width: 700px;
  /* margin-top: 9%; */
  /* margin-left: 7%; */
  padding: 50px;
  backdrop-filter: blur(100px);
  background-color: #0000001e;
  text-transform: capitalize;
}

.main span {
  color: red;
}
.main {
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main img {
  height: 400px;
}
/* ===================
=======Branch=========
===================== */
.branch {
  background-color: #088395;
  padding-top: 5%;
  padding-bottom: 1%;
}
.branch h3 {
  font-size: 40px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
  color: #fff;
}
.branch a {
  text-decoration: none;
  color: #000;
}
.branch-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  margin: 0 auto 50px;
}
.br-img {
  height: 180px;
  width: 320px;
  /* background-size: cover; */
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}
.br-img img {
  width: 320px;
  height: 180px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.2);
  transition: 0.7s;
}
.branch-block:hover img {
  transition: 0.8s;
  transform: scale(1);
}
.branch-block {
  margin: 0 0 60px;
  padding: 20px 15px;
  border-radius: 20px;
  text-align: center;
  background-color: #fff;
  transition: 0.5s;
}
.branch-block:hover {
  transition: 0.5s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.branch-block p {
  font-family: "Dosis", sans-serif;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* footer */
footer {
  background-color: #00ffca;
  text-align: center;
  padding: 1.5% 0 10px;
  color: #0a4d68;
}
footer p {
  font-size: 16px;
  text-transform: uppercase;
}

/* responsive design */
@media screen and (max-width: 1200px) {
  nav ul li {
    font-size: 12px;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 1100px) {
  nav h1 {
    font-size: 18px;
  }
  nav ul li {
    font-size: 12px;
    padding: 6px 8px;
  }
}
