* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #041125,
    #04192d,
    #042134,
    #03283b,
    #023042,
    #02394b,
    #014253,
    #024b5b,
    #015767,
    #006373,
    #00707f,
    #027d8a
  );
  height: 100vh;
  font-family: "lato";
  color: #ffffff;
}

nav {
  display: flex;
  padding: 15px 80px;
  justify-content: space-between;
}

nav h1 {
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li {
  font-weight: 300;
  font-size: 14px;
  margin-left: 18px;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li:hover {
  background-color: #ffffff1a;
  transition: 0.2s;
}

/* ==================================== */
/* =============Side Menu============= */
.sidebar {
  position: fixed;
  display: inline-block;
  top: 0;
  left: -400px;
  height: 100vh;

  z-index: 999;
  flex: 1 1 0;
  width: 100%;
  max-width: 350px;
  transition: 0.2s linear;
  padding: 0;
  background-color: #fff;
  overflow: scroll;
}

/* scroll-bar */
/* width */
.sidebar::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
/* scroll-bar */

.sidebar h3 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 25px;
  margin-top: 8px;
}

.menu-block h5 {
  /* display: block; */
  padding: 15px 0 0 32px;
  color: #1a1a1a;
  width: 100%;
  font-size: 18px;
}
.sidebar .menu .menu-item {
  display: block;
  padding: 10px 0 10px 2.8em;
  color: #1a1a1a;
  text-decoration: none;
  transition: 0.2s linear;
  font-size: 15px;
  width: 100%;
  text-transform: capitalize;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
  color: #1a1a1a;
  background-color: #1a1a1a;
  color: #fff;
}

.menu-toggle {
  cursor: pointer;
}

.sidebar.is-active {
  left: 0;
}

.side-head {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
  padding: 10px;
  background-color: #1a1a1a;
}
.side-head i {
  color: #fff;
  font-size: 20px;
  padding: 8px 12px;
  border-radius: 50%;
  border: none;
  /* background-color: rgba(255, 255, 255,0.2); */
  cursor: pointer;
}
/* ------------------------------ */
