* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  background-color: #ffffff;
  font-size: 14px;
  color: #000;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* Team Section */
.team {
  color: #fff;
  background-color: #088395;
  padding: 3% 2%;
}
.team h1 {
  text-align: center;
  font-size: 36px;
}

/* Member-card */
.members {
  margin-top: 60px;
}
.core,
.sub-core {
  display: flex;
  justify-content: space-around;
}
.sub-core {
  margin: 0 auto;
  max-width: 1200px;
}
.mem-card {
  padding: 20px 40px;
  background-color: #0a4d68;
  border-radius: 10px;
  margin-bottom: 50px;
}
.mem-card img {
  width: 200px;
  padding: 10px 0;
}
.mem-card p {
  margin-bottom: 6px;
}
.other {
  display: inline-block;
}
.mem-name {
  margin-bottom: 10px;
}
a {
  color: #fff;
}
